/* CSS Demo Stylesheet */
/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*---------------Global Styles---------------*/

body{
font-family: "Smooch Sans", sans-serif;
margin:0;
}

header.primary{
  font-family: "Smooch Sans", sans-serif;
} 

header.primary{
background-color:#0abb5c;
text-align:left;
text-shadow: 1px 1px #FFFFFF;
color:#ffffff;
/*Single value short hand*/
padding: 40px;  
/*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;  
/* T,R,B,L */
padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
padding: 20px 40px;  
}

header.primary h1{
  font-size: 40px;
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
font-size: 1.4rem;
letter-spacing:.2px; 
margin:10px 0 0 0;  
}

header.primary nav ul{
  padding:0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  
}